@import url(../css/common.css);

header {
  height: 90px;
  width: 100%;
}
nav.menu {
  height: 100%;
  border-bottom: 1.5px solid #503396;
}
.inner {
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* background: red; */
}
nav.menu > .inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

/* link_left */
nav.menu .link_left {
  display: flex;
  position: absolute;
  top: 10px;
  left: 155px;
}
nav.menu .link_left a {
  font-size: 15px;
  margin-right: 20px;
}
nav.menu .link_left a:hover {
  color: #6a6a6a;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 0.5px;
}

/* link_right */
nav.menu .link_right {
  display: flex;
  position: absolute;
  top: 10px;
  right: 160px;
  z-index: 777;
}
nav.menu .link_right a {
  font-size: 13px;
  margin-left: 20px;
}
nav.menu .link_right a:hover {
  color: #6a6a6a;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 0.5px;
}

/* gnb_left */
nav.menu .gnb_left ul {
  display: flex;
  margin-left: 160px;
  width: 350px;
  /* background: red; */
}
nav.menu .gnb_left ul li {
  width: 50px;
  height: 40px;
  margin: 0 40px 0 0;
}
nav.menu .gnb_left ul li a {
  font-size: 18px;
  display: block;
  text-align: center;
  font-weight: 600;
  /* background: red; */
}
nav.menu .gnb_left ul li.icon {
  width: 100px;
  justify-content: start;
  display: flex;
  padding: 0;
}

nav.menu .gnb_left ul li:nth-child(1) a {
  padding: 2px 18px 0 0;
}

/* logo */
nav.menu .logo {
  width: 150px;
  margin-bottom: 10px;
  position: relative;
  left: -15px;
}
nav.menu .logo a img {
  width: 100%;
}


/* gnb_right */
nav.menu .gnb_right ul {
  /* background: red; */
  display: flex;
  justify-content: space-between;
  margin-right: 160px;
  width: 350px
}
nav.menu .gnb_right ul li {
  width: 50px;
  height: 40px;
  margin: 0 0 0 10px;
  text-align-last: left;
}
nav.menu .gnb_right ul li a {
  font-size: 17px;
  display: block;
  text-align: center;
  font-weight: 600;
}
nav.menu .gnb_right ul li.icon {
  width: 100px;
  justify-content: end;
  display: flex;
  padding: 0;
}
nav.menu .gnb_right ul li:nth-child(4) a {
  padding: 2px 0 0 18px;
}

/* menu hover */
.gnb_line:hover {
  opacity: 1;
  border-bottom: 4px solid #503396;
}


.container{
  /* background: red; */
}
.container .page-util{
  width: 100%;
  height: 42px;
  background: #f8f8fa;
  margin: 0 auto;
}
.container .page-util .inner-wrap{
  width: 80%;
  margin: 8px auto;
}

.container .page-util .inner-wrap .location{
  float: left;
  height: 42px;
  margin-top: 8px;
  margin-left: 152px;
}
.container .page-util .inner-wrap .location span{
  /* overflow: hidden; */
  float: left;
  width: 15px;
  text-indent: -9999px;
  background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-home.png) no-repeat center;
}

.container .page-util .inner-wrap .location a{
  display: block;
  position: relative;
  float: left;
  margin: 0 0 0 25px;
  padding: 0;
  color: #666;
  /* background: red; */
}
.container .page-util .inner-wrap .location a::before{
  content: '';
  display: block;
  position: absolute;
  left: -14px;
  top: -12px;
  width: 5px;
  height: 42px;
  background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-arr.png) no-repeat left center;
}
.container .page-util .inner-wrap .location a:hover{
  text-decoration: underline;
}




/* inner-wrap */
#contents{
  width: 100%;
  padding: 40px 0 0 0;
  /* background: red; */
}
#contents .inner-wrap{
  width: 80%;
  margin: 0 auto;
}
#contents div.inner-wrap h2{
  background: white;
  width: 80%;
  margin: 0 auto;
  font-size: 30px; 
  font-weight: 500;
  padding: 0 0 26px 0;
}
#contents div.inner-wrap #topMenu{
  background: white;
  width: 80%;
  margin: 0 auto;
  height: 42px;
  
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#contents div.inner-wrap #topMenu li{
  width: 20%;
  border: 0.5px solid rgb(245, 245, 245);
  font-size: 17px;
  padding: 10px;
}
#contents div.inner-wrap #topMenu li:first-child{
  border: 1px solid #503396;
  border-bottom: none;
}
#contents div.inner-wrap #topMenu li:nth-child(2){
  border-bottom: 1px solid #503396;
}
#contents div.inner-wrap #topMenu li:nth-child(3){
  border-bottom: 1px solid #503396;
}
#contents div.inner-wrap #topMenu li:nth-child(4){
  border-bottom: 1px solid #503396;
}
#contents div.inner-wrap #topMenu li:nth-child(5){
  border-bottom: 1px solid #503396;
}



/* movie-list-util */
#contents .movie-list-util{
  /* background: orange; */
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 15px;
  overflow: hidden;
}
#contents .movie-list-util .onair-condition{
    float: left;
    margin-left: 10px;
    padding: 10px 0 0 0;
}
#contents .movie-list-util .topsort button{
  display: block;
  padding: 0 0 0 30px; 
  background: url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-on-air.png) no-repeat 0 2px;
  border: 0;

  cursor: pointer;
}
#contents .movie-list-util .no-result-count{
  float: left;
  margin: 0 0 0 20px;
  padding: 1px 0 0 0;
  color: #222;
  line-height: 34px;
}
#contents .movie-list-util .no-result-count strong{
  font-weight: 700;
  font-size: 18px;
}


#contents .movie-list-util .movie-search{
  position: relative;
  float: right;
  width: 255px;
  height: 42px;
  border: 1px solid #d8d9db;
  border-radius: 3px;
  font-size: 15px;
}
#contents .movie-list-util .movie-search input{
  height: 34px;
  border: 0;
  margin-top: 4px;
  outline: none;
}
#contents .movie-list-util .movie-search button{
  position: absolute;
  right: 10px;
  top: 5px;

  width: 30px;
  height: 32px;
  border: 0;
  background: #fff url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-search-input.png) no-repeat center;

  cursor: pointer;
}





#contents .movie-list{
  width: 100%;
  /* background: red; */
}
#contents .movie-list .list{
  /* background: red; */
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
#contents .movie-list .list li{
    width: 21%;
    overflow: hidden;
    position: relative;
}
#contents .movie-list .list .no-img{
  position: relative;
  margin-bottom: 100px;
}
#contents .movie-list .list li .poster{
  height: 331px;
  width: 230px;
  width: 100%;
}
#contents .movie-list .list li .rank{
    position: absolute;
    left: 0;
    top: 0;
    height: 150px;
    padding: 8px 0 0 10px; 
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}
#contents .movie-list .list li .screen-type2{
  position: absolute;
  right: 10px;
  top: 10px;
}
#contents .movie-list .list li .screen-type2 p{
    display: inline-block;
    padding: 2px;
    border-radius: 3px;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
}
#contents .movie-list .list li .screen-type2 p img{
  margin-top: 5px;
}



#contents .movie-list .list li .movie-score{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 331px;
  color: #fff;
  opacity: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .8);
  padding: 20px;
  font-size: 13px;
  overflow: hidden;
  transition: 0.6s;
}
#contents .movie-list .list li .movie-score:hover{
  opacity: 1;
}

#contents .movie-list .list li .movie-score a{
    position: relative;
    text-align: justify;
}
#contents .movie-list .list li .movie-score .summary{
  overflow: hidden; 
  height: 100%;
  
}

#contents .movie-list .list li .movie-score .my-score{
  overflow: hidden;
  width: 100%;
  margin-top: -60px;
  border-top: 1px solid #3c3c3c;
  text-align: center;
  /* background: red; */
}
#contents .movie-list .list li .movie-score .my-score .preview{
  display: inline-block;
  line-height: 36px;
}
#contents .movie-list .list li .movie-score .my-score .preview .number{
    font-size: 20px;
    color: #59bec9;
}




#contents .movie-list .list li .tit-area{
  position: relative;
  width: 100%;
  border-top: 15px;
  padding-left: 30px;
  line-height: 25px;
  /* background: red; */
}
#contents .movie-list .list li .tit-area .tit{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 2px 0 0 1px;
  font-size: 22px;
  font-weight: 100;
}
#contents .movie-list .list li .tit-area .movie-grade{
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
}
#contents .movie-list .list li .tit-area .age-12{
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/12_46x46.png);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}
#contents .movie-list .list li .tit-area .age-15{
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/15_46x46.png);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}
#contents .movie-list .list li .tit-area .age-19{
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/18_46x46.png);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
}

#contents .movie-list .list li .rate-date{
    padding: 10px 0 0 0;
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    /* justify-content: space-between; */
    position: relative;
}
#contents .movie-list .list li .rate-date .rate::after{
  content: '';
  display: block;
  position: absolute;
  right: 145px;
  top: 14px;
  width: 2px;
  height: 12px;
  background-color: #d8d9db;
}
#contents .movie-list .list li .rate-date .rate{
  flex: 1;
}
#contents .movie-list .list li .rate-date .date{
  flex: 1;
  text-align: left;
}



#contents .movie-list .list .btn-util{
  width: 100%;
}
#contents .movie-list .list .btn-util .btn-like2{
  height: 34px; 
  position: relative;
  background: white;
  border: 1px solid rgb(219, 218, 218);
  border-radius: 3px;
  cursor: pointer;
  float: left;
  width: 31.33333%;
  margin: 1%;
}
#contents .movie-list .list .btn-util .btn-like2:hover{
  background: rgb(238, 237, 237);
}
#contents .movie-list .list .btn-util .btn-like2 span{
  font-size: 14px;
  margin-left: 20px;
}
#contents .movie-list .list .btn-util > .button > i{
  position: absolute;
  left: 7px;
  top: 8px;
  width: 17px;
  height: 15px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-heart-toggle-gray.png);
}
#contents .movie-list .list .btn-util .case{
  float: left;
  width: 31.33333%;
  margin: 1%;
  height: 34px;
}
#contents .movie-list .list .btn-util .case2{
  float: left;
  width: 31.33333%;
  margin: 1%;
  height: 34px;
}
#contents .movie-list .list .btn-util .case2 a img{
  margin: 8px;
}
#contents .movie-list .list .btn-util .case .bokdBtn{
  background: #503396;
  display: block;
  height: 34px;
  text-align: center;
  line-height: 34px;
  color: white;
  border-radius: 4px;
}
#contents .movie-list .list .btn-util .case .bokdBtn:hover{
  background: #351f67;
}
#contents .movie-list .list .btn-util .case2 .splBtn{
  background: #503396;
  display: block;
  height: 34px;
  text-align: center;
  line-height: 34px;
  color: white;
  border-radius: 4px;
}
#contents .movie-list .list .btn-util .case2 .splBtn:hover{
  background: #351f67;
}
#contents .movie-list .list .btn-util .thr2{
  float: left;
  width: 62.6666%;
  margin: 1%;
  height: 34px;
} 



.btn-more{
  /* background: red; */
  position: relative;
  width: 65%;
  margin: 0 auto;
  text-align: center;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgb(202, 200, 200);
  margin-bottom: 50px;
}
.btn-more:hover{
  border: 1px solid #000;
}
.btn-more .btn{
  border: 0;
  background-color: transparent;
  color: #666; 
  cursor: pointer;
}
.btn-more button i{
  width: 12px;
  height: 7px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-btn-more-arr.png);
  overflow: hidden;
  display: inline-block;
}




/* footer */

footer {
  width: 100%;
  height: 200px;
  background: #f8f8fa;
  font-size: 12px;
  color: black;
}
.inner {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.footer_top {
  margin-left: 100px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_top ul.fnb {
  display: flex;
  position: relative;
  left: 40px;
}

.footer_top ul.fnb li {
  margin-right: 20px;
}

.footer_top ul.fnb li:hover a {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 0.5px;
}

.footer_top ul.fnb li:nth-child(7) {
  font-weight: 700;
}

.footer_top > button {
  font-size: 13px;
  /* color: #b7b7b7; */
  width: 100px;
  height: 30px;
  background: none;
  border: 1px solid #8e8e8e;
  border-radius: 40px;
  margin-right: 110px;
  position: relative;
  right: 30px;
}

.footer_top > button i.fa-search {
  color: #8e8e8e;
  margin-right: 7px;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
}
.footer_bottom .footer_wrap div{
  position: relative;
  left: 40px;
}
.footer_bottom .footer_wrap p{
  position: relative;
  left: 40px;
  font-size: 12px;
}
.footer_bottom p{
  font-size: 10px
}
.footer_bottom .footer_wrap {
  display: flex;
  margin-left: 100px;
}
.footer_bottom .footer_logo {
  margin-right: 30px;
}
.footer_bottom .footer_sns{
  margin-right: 110px;
  position: relative;
  right: 30px;
}
footer .footer_sns a {
  margin-left: 1px;
}
