/* footer */

footer {
  height: 200px;
  background: #f8f8fa;
  font-size: 13px;
  color: #b7b7b7;
}

.footer_top {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_top ul.fnb {
  display: flex;
}

.footer_top ul.fnb li {
  margin-right: 20px;
}

.footer_top ul.fnb li:hover a {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 0.5px;
}

.footer_top ul.fnb li:nth-child(7) {
  font-weight: 700;
}

.footer_top > button {
  font-size: 13px;
  /* color: #b7b7b7; */
  width: 100px;
  height: 30px;
  background: none;
  border: 1px solid #8e8e8e;
  border-radius: 40px;
}

.footer_top > button i.fa-search {
  color: #8e8e8e;
  margin-right: 7px;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
}

.footer_bottom .footer_wrap {
  display: flex;
}
.footer_bottom .footer_logo {
  margin-right: 30px;
}

footer .footer_sns a {
  margin-left: 1px;
}
