@import url(common.css);
@import url(footer.css);
@import url(header.css);

/* container */

.container {
 /* border: 3px solid red; */
 width: 100%;
 /* background: navy; */
 height: 2000px;
}

/* .page-util */

.container .page-util {
  /* border: 3px solid red; */
  width: 100%;
  color: #53565B;
  background: #dad8d8;
  border-top: 1px solid black;
  margin-top: 50px;
}
.container .page-util .location {
 /* border: 3px solid blueviolet;  */
 width: 80%;
 font-size: 18px;
 font-weight: 400;
 line-height: 50px;
 
 margin: 2px auto;
}
.container .page-util .location > i {
  color: #90969e;
  margin: 0 2px 7px 2px;
  font-size: 14px;
}
.container .page-util .location a:hover {
  text-decoration: underline;
  color: black;
}

/* .container > #contents */

#contents {
  background: white;
  width: 100%;
  margin: 0;
}

/* #contents > .inner-wrap h2*/

#contents .inner-wrap .title {

  width: 80%;
  margin: 30px auto;
  letter-spacing: 1px;
}
#contents .inner-wrap h2.title {
font-size: 30px;
font-weight: 600;
}

/* #contents > .inner-wrap .tqp-list */

#contents .inner-wrap .tap-list {
  font-size: 16px;
  width: 80%;
  padding: 15px 0;
  margin: 30px auto;
}
#contents .inner-wrap #top-menu {
  /* background: pink; */
}
#contents .inner-wrap #top-menu ul {
  /* border: 1px solid grey; */
}
#contents .inner-wrap #top-menu ul li {
  border: 0.5px solid lightgray;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
#contents .inner-wrap #top-menu ul li a { 
  border-right: 0.5px solid lightgray;
  width: 20%;
  color: #53565B;
  display: block;
  text-align: center;
  padding: 7px 0;
}
#contents .inner-wrap #top-menu ul li a:last-child {
  border-right-style: none;
}
#contents .inner-wrap #top-menu ul li a:hover {
  border: 1px solid #3C2A78;
  border-bottom-style: none;
}
/* #contents > .inner-wrap .movie-list-util */

#contents > .inner-wrap .movie-list-util {
  /* border: 3px solid #104861; */
  width: 80%;
  margin: 5px auto;
}
#contents > .inner-wrap .movie-list-util .topSort{
  float: left;
  width: 10%;
  /* border: 3px solid blue; */
}

/* movie-list-util2 */ 

#contents > .inner-wrap .movie-list-util2 p.no-result-count {
  /* background: palegoldenrod; */
  width: 70%;
  float: left;
}
#contents > .inner-wrap .movie-list-util2 div.movie-search {
  float: right;
  width: 20%;
  display: flex;
  /* border: 3px solid red; */ 
}
#contents > .inner-wrap .movie-search {
  border: 1px solid #dad8d8;
  padding: 3px;
  border-radius: 3px;
  float: right;
  width: 230px;
  height: 42px;
  font-size: 15px;
  position: relative;
}
#contents > .inner-wrap .movie-search input {
  /* border: 3px solid green; */
height: 34px;
border: none;
}
#contents > .inner-wrap .movie-search a i {
  /* border: 3px solid violet; */
  /* border: 2px solid blue; */
  position: absolute;
  right: 10px;
  line-height: 34px;

}

/* #contents > .inner-wrap .movie-list */

#contents .movie-list ul li {
  display: flex;
  flex-wrap: wrap;
  /* border: 3px solid gold; */
  width: 80%;
  margin: 10px auto;
  /* justify-content: space-between; */
}

#contents .movie-list ul li .movie-specify {
  /* background: grey; */
  /* border: 3px dotted dodgerblue; */
  width: 22%;
  margin-right:3% ;
  position: relative;
}
#contents .movie-list ul li .movie-specify #rank {
  font-size: 30px;
  color: white;
  text-shadow: 3px 3px 3px #000;
  position: absolute;
  top: 3%;
  left: 10%;
}
#contents .movie-list ul li .movie-specify .gradient {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s;
  position: absolute;
  top: 0;
  width: 100%;
  height: 76.5%;
  padding: 10%;
}
#contents .movie-list ul li .movie-specify .gradient:hover{
  background-color: rgba(0, 0, 0, 0.5);
}
#contents .movie-list ul li .movie-specify .gradient p {
  text-align: justify;
  color: white;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  /* border: 3px solid red;   */
}
#contents .movie-list ul li .movie-specify .gradient p span {
  color: mediumaquamarine;
  margin-left: 10%;
  font-size: 25px;
  /* display: block; */
  opacity: 0;
  /* border: 3px solid blueviolet;   */
}
#contents .movie-list ul li .movie-specify .gradient p strong {
  font-size: 25px;
  /* display: block; */
  margin-left: 2%;
  color: white;
  opacity: 0;
  /* border: 3px solid blue;   */
}
#contents .movie-list ul li .movie-specify .gradient p:hover,
#contents .movie-list ul li .movie-specify .gradient p span:hover, 
#contents .movie-list ul li .movie-specify .gradient p strong :hover{
  opacity: 1;
}

#contents .movie-list ul li:nth-child(3) {
  margin-right: 0;
}
#contents .movie-list .movie-specify > img {
  display: block;
  width: 100%;
}
#contents .movie-list .movie-specify .intro .title-area {
  /* border: 2px solid blue; */
  font-size: 1.3333em;
  font-weight: 400;
  overflow: hidden;
  display: flex;
}
#contents .movie-list ul li .movie-specify .intro .title-area p.grade-age {
  width: 30px;
  height: 30px;
  background: green;
  color: white;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  border-radius: 5px;
}
#contents .movie-list ul li .movie-specify .intro .title-area p.title {
  font-size: 1.3em;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}
#contents .movie-list .movie-specify .intro .rate-date {
  /* border: 3px solid pink; */
  display: flex;
  justify-content: space-between;
}
#contents .movie-list .movie-specify .intro .rate-date .rate {
  font-weight: 400;
  font-size: 14px;
  width: 40%;
}
#contents .movie-list .movie-specify .intro .rate-date .date {
  font-weight: 400;
  font-size: 14px;
  width: 60%;
}

/* movie-list .btn-util */

#contents .movie-list .movie-specify .intro .btn-util {
  display: flex;
  justify-content: space-between;
  /* background: blue; */
  margin: 10px auto;
}
#contents .movie-list .movie-specify .intro .btn-util a{
  border-radius: 6px; 
  display: block;
  text-align: center;
}
#contents .movie-list .movie-specify .intro .btn-util a#like {
  flex: 3;
  display: block;
  border: 0.5px solid #90969e;
  padding: 5px 0;
  margin-right: 10px;
}
#contents .movie-list .movie-specify .intro .btn-util a#like i {
  color: #90969e;
  margin-right: 2px;
  font-size: 14px;
}
#contents .movie-list .movie-specify .intro .btn-util a#like i > strong {
  color:#53565B;
}
#contents .movie-list .movie-specify .intro .btn-util a#purchase {
  flex: 6;
  display: block;
  border: 2px solid white;
  padding: 5px 0;
  color: white;
  background: #3C2A78;
} 
 
  
  /* img : after */
/* position: absolute; */

 /* #contents .movie-list .movie-specify img::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(#000, 0.8);
  position: absolute;
 } */

/* 컨텐츠를 흐르게 하고 싶을 떄  */
/* 두줄로 나눠서 쓰거나 */
/* float 걸거나 */
/* flex 걸어서 하나하나 마진을 주거나 하면 됨... */

/* hover div 효과 줘서 진행
  그레이드는 p 만들어서 진행
   */