@import url(./common.css);
@import url(./header.css);

* {
  font-size: 15px;
  color: #444444;
}

/* content */

.inner {
  width: 1160px;
  margin: 0 auto;
}

/* age */

.age {
  width: 28px;
  height: 28px;
  background: #e1b84d;
  margin-right: 5px;
  border-radius: 4px;
  color: #fff;
  font-family: "apotek", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  flex-shrink: 0;
}

.fifteen {
  background: #e28b43;
}

.eighteen {
  background: #c53333;
}

/* main */
/* page_util */

main .page_util {
  background: #f8f8fa;
  height: 40px;
  display: flex;
  width: 100%;
}

main .page_util > .inner {
  display: flex;
  align-items: center;
  height: 100%;
}
main .page_util i.fa-home {
  color: #b7b7b7;
  font-size: 14px;
  margin-right: 10px;
}

main .page_util a {
  margin: 0 10px;
  color: #444444;
}

main .page_util a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 0.5px;
}

/* content .title */
main .content .inner > .title {
  width: 100%;
  padding: 40px 0 30px;
}

main .content .title h2 {
  font-size: 27px;
  font-weight: 500;
}

main .content .tab-list ul.top-Menu {
  display: flex;
}

main .content .tab-list ul.top-Menu li {
  width: calc(100% / 5);
  /* border: 2px solid #8e8e8e; */

  border: 1px solid #ebebeb;
  border-bottom: 1.5px solid #503396;
}

main .content .tab-list ul.top-Menu li:nth-child(2) {
  border: 1px solid #503396;
  border-bottom: none;
}

main .content .tab-list ul.top-Menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  padding: 14px 0;
}

/* main .content .movie-list */

main .content .movie-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 20px;
}

/* main .content .movie-list .movie-sort */

main .content .movie-list .movie-sort {
  display: flex;
}

main .content .movie-list .movie-sort button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

main .content .movie-list .movie-sort button a {
  color: #8e8e8e;
  display: flex;
  align-items: center;
}

main .content .movie-list .movie-sort button:nth-child(1) a {
  color: #000;
  font-weight: 500;
}

main .content .movie-list .movie-sort .line {
  width: 1px;
  height: 15px;
  background: #8e8e8e;
  margin: 0 20px 0;
}

main .content .movie-list .movie-sort > p {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

main .content .movie-list .movie-sort > p span {
  font-weight: 600;
}

main .content .movie-list .movie-search {
  border: 1px solid #8e8e8e;
  border-radius: 1px;
  background: #fff;
  display: flex;
  padding: 10px;
}

main .content .movie-list .movie-search input {
  background: none;
  border: none;
  width: 150px;
  outline: none;
}

main .content .movie-list .movie-search a i.fas {
  font-size: 20px;
  color: #8e8e8e;
  margin-left: 50px;
}

/* 영화 리스트 */
/* main .content .movie-main-list */

main .content .movie-main-list ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .content .movie-main-list ul li {
  width: calc((100% - 200px) / 4);
  margin-bottom: 80px;
}

main .content .movie-main-list ul li .movie_post {
  width: 100%;
  height: 330px;
  overflow: hidden;
  position: relative;
}

main .content .movie-main-list ul li .movie_post .hover_movie_txt {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

main .content .movie-main-list ul li .movie_post .hover_movie_txt p {
  color: #fff;
  padding: 20px;
  /* font-size: 13px; */
  line-height: 160%;
  height: 50%;
  overflow: hidden;
}

main .content .movie-main-list ul li .movie_post:hover .hover_movie_txt {
  opacity: 1;
  transition: 0.5s;
}

main .content .movie-main-list ul li .movie_post a {
  display: block;
  width: 100%;
}

main .content .movie-main-list ul li .movie_post a img {
  width: 100%;
  height: 330px;
}

main .content .movie-main-list ul li .movie_info {
  padding: 30px 0 0;
}

main .content .movie-main-list ul li .movie_info .movie_title {
  display: flex;
}

main .content .movie-main-list ul li .movie_info .movie_title h3 {
  font-size: 24px;
  margin-top: -5px;
}
main .content .movie-main-list ul li:nth-child(1) .movie_info .movie_title h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

main .content .movie-main-list ul li .movie_info .movie_info_day {
  margin: 15px 0;
  /* font-size: 18px; */
}
main .content .movie-main-list ul li .movie_info .movie_info_day p {
  display: inline-block;
}
main .content .movie-main-list ul li .movie_info .movie_info_day .line {
  width: 1px;
  height: 13px;
  background: #8e8e8e;
  margin: 0 5px 0;
}

/* 영화 리스트 하단 버튼 */

main .content .movie-main-list ul li .movie_info .movie_info_button {
  display: flex;
  justify-content: space-between;
}

main .content .movie-main-list ul li .movie_info .movie_info_button button {
  width: calc((100% - 9px) / 3);
  border-radius: 4px;
  height: 40px;
  position: relative;
}

main
  .content
  .movie-main-list
  ul
  li
  .movie_info
  .movie_info_button
  button.like {
  background: #fff;
  border: 1px solid #ebebeb;
  color: #503396;
}

/* like button hover */

main
  .content
  .movie-main-list
  ul
  li
  .movie_info
  .movie_info_button
  button.like::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(212, 214, 219, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  opacity: 0;
}

main
  .content
  .movie-main-list
  ul
  li
  .movie_info
  .movie_info_button
  button.like:hover::after {
  opacity: 1;
  transition: 0.3s;
}

/*  */

main
  .content
  .movie-main-list
  ul
  li
  .movie_info
  .movie_info_button
  button.like
  i.fa-heart {
  margin-right: 5px;
  color: #8e8e8e;
}

main
  .content
  .movie-main-list
  ul
  li
  .movie_info
  .movie_info_button
  button.ticket {
  background: #503396;
  border: none;
}

main
  .content
  .movie-main-list
  ul
  li
  .movie_info
  .movie_info_button
  button.ticket
  a {
  color: #fff;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-size: 18px; */
}

/* button ticket hover */

main
  .content
  .movie-main-list
  ul
  li
  .movie_info
  .movie_info_button
  button.ticket::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(41, 24, 60, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  opacity: 0;
}

main
  .content
  .movie-main-list
  ul
  li
  .movie_info
  .movie_info_button
  button.ticket:hover::before {
  opacity: 1;
  transition: 0.3s;
}

/*  */

main
  .content
  .movie-main-list
  ul
  li
  .movie_info
  .movie_info_button
  button.cinema {
  background: #503396;
  border: none;
  color: #fff;
  padding-top: 6px;
}

main
  .content
  .movie-main-list
  ul
  li
  .movie_info
  .movie_info_button
  button.cinema
  img {
  position: absolute;
  z-index: 33;
  top: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
}
/* cinema hover */

main
  .content
  .movie-main-list
  ul
  li
  .movie_info
  .movie_info_button
  button.cinema::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(41, 24, 60, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  opacity: 0;
}

main
  .content
  .movie-main-list
  ul
  li
  .movie_info
  .movie_info_button
  button.cinema:hover:before {
  opacity: 1;
  transition: 0.3s;
}

/* two button */
main
  .content
  .movie-main-list
  ul
  li
  .movie_info
  .movie_info_button
  button.ticket.two_button {
  width: calc(((100% - 3px) / 3) * 2);
}

/* top_nav */

main .content .movie-main-list .top_button {
  width: 60px;
  height: 60px;
  background: #444444;
  border-radius: 60px;
  box-shadow: 1px 0 5px rgba(65, 65, 65, 0.8);
  position: fixed;
  right: 160px;
  bottom: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .content .movie-main-list .top_button a {
  color: #fff;
  font-weight: 500;
  padding: 20px;
  display: block;
}
main .content .movie-main-list .top_button a i {
  display: block;
  color: #fff;
  text-align: center;
}

/* footer */

footer {
  height: 200px;
  background: #f8f8fa;
  font-size: 13px;
  color: #b7b7b7;
}

.footer_top {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_top ul.fnb {
  display: flex;
}

.footer_top ul.fnb li {
  margin-right: 20px;
}

.footer_top ul.fnb li:hover a {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 0.5px;
}

.footer_top ul.fnb li:nth-child(7) {
  font-weight: 700;
}

.footer_top > button {
  font-size: 13px;
  /* color: #b7b7b7; */
  width: 100px;
  height: 30px;
  background: none;
  border: 1px solid #8e8e8e;
  border-radius: 40px;
}

.footer_top > button i.fa-search {
  color: #8e8e8e;
  margin-right: 7px;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
}

.footer_bottom .footer_wrap {
  display: flex;
}
.footer_bottom .footer_logo {
  margin-right: 30px;
}

footer .footer_sns a {
  margin-left: 1px;
}
