@import url('./common.css');

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

img {
	border-radius: 5px;
}

button {
	background-color: transparent;
	border: none;
	color: #000;
}

/* content */

#main_page .content {
	width: 100%;
	position: relative;
	height: 880px;
	overflow: hidden;
}

#main_page .content .bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

#main_page .content .bg::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(3, 1, 21, 0.83);
	position: absolute;
	top: 0;
	z-index: 1;
}

#main_page .content .bg img {
	width: 100%;
	filter: blur(20px);
}

#main_page .content .area {
	width: 1100px;
	color: #fff;
	z-index: 2;
}

#main_page .content .title {
	position: relative;
	margin: 100px 0 30px;
}

#main_page .content .title h2 {
	text-align: center;
	font-size: 18px;
}

#main_page .content .title h2 span {
	padding-bottom: 5px;
	border-bottom: 2px solid gray;
}

#main_page .content .title .more {
	position: absolute;
	top: 0;
	right: 0;
	color: gray;
}

#main_page .content ul.movie {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

#main_page .content .movie li .img-box {
	width: 245px;
	height: 352px;
}

#main_page .content .movie li .img-box img {
	width: 100%;
	height: 100%;
}

#main_page .content ul.search {
	display: flex;
	background: rgba(0, 0, 0, 0.2);
	padding: 25px;
	margin-bottom: 30px;
}

#main_page .content ul.search li {
	width: 25%;
	text-align: center;
	line-height: 1.8;
	font-size: 18px;
}

#main_page .content ul.search li:nth-child(n+2) {
	border-left: 1.5px solid #423e3e;
}

#main_page .content ul.search li:nth-child(1) span {
	border-bottom: 1px solid gray;
	font-size: 1em;
}

#main_page .content ul.search li:nth-child(1) button {

	color: gray;
	font-size: 18px;
}

#main_page .content ul.search li:nth-child(1) input {
	background-color: transparent;
	border: 0;
	line-height: 3;
	color: #fff;
}

#main_page .content ul.search li:nth-child(1) input:focus {
	outline: none;
}

#main_page .content ul.search li:nth-child(1) input::placeholder {
	font-size: 15px;
}

#main_page .content .mouse_icon {
	text-align: center;
}

/* benefit */
#main_page .benefit {
	position: relative;
	height: 900px;
}

#main_page .benefit .area {
	width: 1100px;
}

#main_page .benefit .area .title {
	display: flex;
	justify-content: space-between;
}

#main_page .benefit .area .title h2 {
	font-size: 30px;
	font-weight: 600;
}

#main_page .benefit .area .benefit-lists {
	margin-bottom: 30px;
	display: flex;
}


#main_page .benefit .area .benefit-lists .contents {
	width: 687px;
}

#main_page .benefit .area .benefit-lists .contents .content1 {
	display: flex;
}

#main_page .benefit .area .benefit-lists .contents .content1 .img-box:first-child {
	width: 300px;
}

#main_page .benefit .area .benefit-lists .contents .content1 .img-box:first-child img {
	width: 100%;
}

#main_page .benefit .area .benefit-lists .contents .content1 .img-box:last-child {
	width: 385px;
}

#main_page .benefit .area .benefit-lists .contents .content1 .img-box:last-child img {
	width: 100%;
}

#main_page .benefit .area .benefit-lists .contents .content2 {
	display: flex;
}

#main_page .benefit .area .benefit-lists .contents .content2 .img-box:first-child {
	width: 441px;
	margin-right: 12px;
}

#main_page .benefit .area .benefit-lists .contents .content2 .img-box:first-child img {
	width: 100%;
}

#main_page .benefit .area .benefit-lists .contents .content2 .img-box:last-child {
	width: 204px;
}

#main_page .benefit .area .benefit-lists .contents .content2 .img-box:last-child img {
	width: 100%;
}

#main_page .benefit .area .benefit-lists .ad {
	/* height: 500px; */
	padding-top: 10px;
}

#main_page .benefit .area .bene-ico {
	color: #fff;
	display: flex;
	justify-content: space-around;
}

#main_page .benefit .area .bene-ico li span {
	text-align: center;
}

#main_page .benefit .area .bene-ico li span {
	display: block;
}

#main_page .benefit .area-ico {
	width: 100%;
	height: 320px;
	background-color: #503396;
	position: absolute;
	bottom: 0;
	z-index: -1;
}

#main_page .curation {
	height: 840px;
	background-color: #252451;
	color: #fff;
	position: relative;
}

#main_page .curation .area {
	width: 1100px;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -25%);
}

#main_page .curation .area>.title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

#main_page .curation .area>.title h2 {
	font-size: 30px;
	font-weight: 500;
}

#main_page .curation .area .content-area {
	display: flex;
}

#main_page .curation .area .content-area .content-img {
	margin-right: 45px;
}

#main_page .curation .area .content-area .content-text .title {
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(128, 128, 128, 0.5);
	margin-bottom: 45px;
}

#main_page .curation .area .content-area .content-text .text {
	margin-bottom: 7px;
}

#main_page .curation .area .content-area .content-text ul.others {
	display: flex;
	justify-content: space-between;
}

#main_page .curation .area .content-area .content-text ul.others li a p {
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}