/* common css */
/* css파일이 css파일 import */
@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css');

* {
	box-sizing: border-box;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

a {
	color: inherit;
	text-decoration: none;
}