@import url(../common.css);
/* container */
.container {
 border: 3px solid red;
 width: 100%
}
/* .container >.inner-wrap .page-util */
.container .page-util {
 border: 3px solid blueviolet; 
 font-size: 15px;
 font-weight: 400;
 background: rgb(214, 210, 210);
 color: #53565B;
 display: block;
 margin: 0 auto;
}
.container .page-util a {

}
/* .container >.inner-wrap .page-util */
.container .page-util .inner-wrap {
  border: 3px solid #000;
  margin: 5px auto;
  width: 80%;

}
/* tap-list */
#contents {
  background: green;
  width: 100%;
  margin: 0;
  padding: 40px 0 0 0;
}
#contents .inner-wrap {
  background: orange;
  width: 100%;
  margin: 0 auto;
}
#contents .inner-wrap h2{
  background: palevioletred;
  font-size: 30px;
  font-weight: 900;
  width: 80%;
  margin: 10px auto;
}
#contents .inner-wrap .tap-list{
  background: pink;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
#contents .inner-wrap .tap-list ul{
}

#contents .inner-wrap .tap-list ul li{

}
#contents .inner-wrap .tap-list ul li a {
  
}

/* movie-list */
#contents .inner-wrap ul{
 }
#contents .inner-wrap ul li{
}

/* movie-list>util */
#contents .inner-wrap .movie-list-until{}

/* movie-list > util >button */
